<div class="well">
<h4>Sponsors</h4>

<p style="text-align:center;"><a href="https://engineering.tufts.edu/ece/"><img src="images/tufts_ece_logo.png" style="width: 200px"></a></p>
<p style="text-align:center;"><a href="https://cybersecurity.tufts.edu/"><img src="images/tufts_cybersecurity_logo.png" style="width: 200px"></a></p>
<!-- <p style="text-align:center;"><a href="https://engineering.mit.edu/"><img src="images/mit_se.png" style="width: 225px"></a></p> -->
<!-- <p style="text-align:center;"><a href="https://computing.mit.edu/"><img src="images/mit_cc.png" style="width: 225px"></a></p> -->
<!-- <p style="text-align:center;"><a href="https://www.eecs.mit.edu/"><img src="images/mit_eecs.png" style="width: 225px"></a></p> -->
<p style="text-align:center;"><a href="https://www.nsf.gov/"><img src="images/logo_nsf.png" style="width: 150px"></a></p>
<!-- <p style="text-align:center;"><a href="https://www.baesystems.com/en/home"><img src="images/bae-logo.png" style="width: 200px"></a></p>
<p style="text-align:center;"><a href="https://www.draper.com"><img src="/images/logo_draper.png" style="width: 200px"></a></p>
<p style="text-align:center;"><a href="https://microelectronicscommons.org/connect/northeast-microelectronics-coalition/"><img src="/images/NEMC-HUB-Large-Logo.png" style="width: 200px"></a></p>
<p style="text-align:center;"><a href="https://www.zerorisc.com/"><img src="/images/logo_zerorisc.jpg" style="width: 150px"></a></p>
 -->

</div>
